body{
  background-color: var(--gray-600);
}

.headerConteiner{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  top: -27px;
  z-index: 1;
}
